<SiteConfig>
#additional-plugins-dir /home/cms103/Development/personal/pubtal/plugins
ignore-filter .*\.svn.*
  <Upload>
  method FTP
  host localhost
  username testing
  base-dir public_html
  </Upload>
</SiteConfig>

<Content>
header author Example Author
</Content>

<Template>
character-set utf-8
</Template>

<Content *.sxc>
content-type OpenOffice
</Content>

