<SiteConfig>
	ignore-filter .*\.svn.*
</SiteConfig>


<Content weblog>
	weblog-name Example Weblog
	# The weblog-tag-prefix is required for Atom feeds to work.
	# This must not change, even if the weblog changes name or relocates.
	weblog-tag-prefix mydomain.com,2004:exampleweblog
	
	# Required for RSS and Atom feeds.
	url-prefix http://www.mydomain.com
	
	# Required for RSS
	header weblog-image-url http://www.mydomain.com/rssImage.png
	header weblog-description An example weblog
	
	# The templates we will use for this weblog
	weblog-index-template weblog-template.html
	weblog-day-template weblog-template.html
	weblog-month-template weblog-template.html
	# We will syndicate into RSS0.91 and Atom 0.3
	weblog-syndication-template rss.xml
	weblog-syndication-template atom.xml
	
	# We use utf8 for all posts
	character-set utf8
	# Our posts are in weblog/yyyy/mm/ rather than weblog/
	weblog-post-depth 2
</Content>

<Content weblog/*.sxw>
	content-type Weblog
	weblog-content-type OpenOffice
</Content>

<Template rss.xml>
	output-type PlainText
	character-set utf-8
	plaintext-maxsize 197
</Template>

<Template atom.xml>
	output-type PlainText
	charcter-set utf-8
	plaintext-maxsize 250
</Template>
