# Use base.html as the default template
<SiteConfig>
ignore-filter .*\.svn.*
</SiteConfig>

<Content>
template base.html
</Content>

# For the second directory, use second.html as the default template
<Content second>
template second.html
# Make macros in base.html available under site-macros.
macro site-macros base.html
</Content>
