<SiteConfig>
# We use the .chapter file-type for our HTMLText Catalogue content
ignore-filter .*\.chapter$
# Ignore CVS files
ignore-filter .*?CVS.*
# Ignore SVN files
ignore-filter .*\.svn.*

additional-plugins-dir /home/cms103/Development/personal/pubtal/plugins
</SiteConfig>

<Content>
header author Example Author
catalogue-item-template chapter-template.html
# We want entries in all catalogues to be treated as entries for 
# HTMLText files.
catalogue-item-content-type HTMLText
</Content>

<Content *.text>
content-type Textile
header special This is a merged header.
</Content>
