<SiteConfig>
# We use the .chapter file-type for our HTMLText Catalogue content
ignore-filter .*\.chapter$
# Ignore .svn files
ignore-filter .*\.svn.*
</SiteConfig>

<Content>
header author Example Author
catalogue-item-template chapter-template.html
# We want entries in all catalogues to be treated as entries for 
# HTMLText files.
catalogue-item-content-type HTMLText
</Content>
